<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Suggested Query w/ Angular</title>
  <link rel="stylesheet" href="./style-input.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="description">
  <h1>Input Auto-Complete</h1>
  <div>Try typing in "design"</div>

</div>

<div class="input-field" ng-class="{focus:isFocused}" ng-app="SuggestedQuery" ng-controller="suggestionInputCtrl as main" ng-click="editInput()">
  <div class='editable' ng-focus='isFocused = true;' contenteditable ng-model="inputQuery"></div><div class="suggested noselect">{{suggestedQuery}}</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>
